{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bull Market</title>
    <link rel= "stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BullMarket</a>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Inicio
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pais">Gestor de por ubicacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes">Gestor de clientes</a></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articulos">Inventario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/remitos">Gestor de remitos</a>
            </li>
          </ul>
      </div>
    </nav>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>
