
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>
  <body>
    <nav class="navbar container">
      <ul>
        <li>
          <a href="/pais">Gestor de por ubicacion</a>
        </li>
        <li>
          <a href="/clientes">Gestor de clientes</a>
        </li>
        <li>
          <a href="/remitos">Gestor de remitos</a>
        </li>
      </ul>
    </nav>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>
