
<!-- templates/index.html -->

{% extends 'layout/base_location.html' %}

{% block content %}
<h1>Personas en {{ localidad }}, {{ provincia }}</h1>

<h2>Agregar Persona</h2>
<!-- Formulario para agregar artículo -->
<form method="post" action="{% url 'gestionar_localidad' pais provincia localidad %}">
  {% csrf_token %}
  <label for="name">Nombre:</label>
  <input type="text" name="name" required>
  <label for="address">Direccion:</label>
  <input type="text" name="address" required>
  <label for="CUIT">CUIT:</label>
  <input type="Integer" name="cuit" required>
  <label for="iva_id">Iva:</label>
  {{ form.iva_id}}

  <button type="submit">Agregar persona</button>
</form>
<h2>Lista de personas</h2>
<!-- Tabla para mostrar artículos existentes -->
<table border="1">
  <thead>
    <tr>
      <th>CUIT</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>IVA</th>
    </tr>
  </thead>
  <tbody>
    {% for sujeto in sujetos %}
    <tr>
      <td>
        <a href="/clientes/{{ sujeto.cuit }}"> {{ sujeto.cuit }}</a>
      </td>
      <td>{{ sujeto.name }}</td>
      <td>{{ sujeto.address  }}</td>
      <td>{{ sujeto.iva.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
