
<!-- templates/index.html -->


{% extends 'layout/base_remito.html' %}
{% block content %}
<h1>Remitos</h1>
<h2>Agregar Remitos</h2>

<!-- templates/agregar_remito.html -->
<form method="post">
  {% csrf_token %}
    <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label for="nro_remito" class="form-label mt-4">Numero de remito</label>
        <input type="Integer" class="form-control" placeholder="Ingrese Numero de Remito" name="nro_remito" required>
        <small class="form-text text-muted">El numero de remito debe contener solamente numeros.</small>
      </div>
      <div class="col-md-6">
        <label for="fecha" class="form-label mt-4">Fecha:</label>
        {{ form.fecha}}
      </div>
      <div class="col-md-6">
        <label for="provedor" class="form-label mt-4">Proveedor</label>
        <select class="form-select" name="provedor">
          {% for proveedor in form.provedor %}
          <option {{proveedor}}</option>
          {% endfor %}
        </select>
      </div>        
      <div class="col-md-6">
        <label for="cliente" class="form-label mt-4">Cliente</label>
        <select class="form-select" name="cliente">
          {% for cliente in form.cliente %}
          <option {{cliente}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button class="btn btn-success mt-4" type="submit">Agregar Remito</button>
    </div>
</form>
<br>
<h2>Lista de Remitos</h2>
<!-- Tabla para mostrar artículos existentes -->

<div class="col-md-8 ">
  <table border="1" class="table table-hover" >
    <thead>
      <tr class="table-active">
        <th>Numero de remito</th>
        <th>Provedor</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for remito in remitos %}
      <tr>
        <td class="text-center">
          <span class="badge rounded-pill bg-info">
            <a href="{{remito.nro_remito}}" style="text-decoration: none; color: white;">Nº {{ remito.nro_remito }}</a>
          </span>        
        <td>
          <a href=" /clientes/{{remito.provedor.cuit}}"> {{ remito.provedor.name}}</a>
        </td>
        <td>
          <a href=" /clientes/{{remito.cliente.cuit}}"> {{ remito.cliente.name}}</a>
        </td>
        <td>
          {{ remito.fecha|date:"d/m/Y" }}
        </td>
        <td>
          <form method="get" action="{% url 'del_remito' remito.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Borrar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

