
<!-- templates/index.html -->

{% extends 'layout/base_clientes.html' %}

{% block content %}


<h1>{{ sujeto.name }}</h1>
<p class="lead">
  Domicilio: {{sujeto.address}}, {{ sujeto.location.name}}, {{ sujeto.location.provincia.name}}, {{ sujeto.location.provincia.pais.name}}<br>
    Cuit: {{sujeto.cuit}}<br>
    IVA: {{sujeto.iva.name}}<br>
</p>

<h2>Lista de remitos</h2>
<h3>Ingresos</h3>
<!-- Tabla para mostrar artículos existentes -->
<table border="1" class="table table-hover">
  <thead>
    <tr class="table-success">
      <th>Numero de remito</th>
      <th>Provedor</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for remito in remitos_provedor%}
    <tr>
      <td>
        <a href="/remitos/{{remito.nro_remito}}"> {{ remito.nro_remito }}</a>
      </td>
      <td>
        <a href=" /clientes/{{remito.cliente.cuit}}"> {{ remito.cliente.name}}</a>
      </td>
      <td>
        {{ remito.fecha|date:"d/m/Y" }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Egresos</h3>
<!-- Tabla para mostrar artículos existentes -->
<table border="1" class="table table-hover">
  <thead>
    <tr class="table-danger">
      <th>Numero de remito</th>
      <th>Cliente</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for remito in remitos_cliente%}
    <tr>
      <td>
        <a href="/remitos/{{remito.nro_remito}}"> {{ remito.nro_remito }}</a>
      </td>
      <td>
        <a href=" /clientes/{{remito.provedor.cuit}}"> {{ remito.provedor.name}}</a>
      </td>
      <td>
        {{ remito.fecha|date:"d/m/Y" }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}    
