
<!-- templates/index.html -->

{% extends 'layout/base_clientes.html' %}

{% block content %}


<h2>Lista de sujetos</h2>
<!-- Tabla para mostrar artículos existentes -->
<table border="1" class="table table-hover">
  <thead>
    <tr class="table-active">
      <th>CUIT</th>
      <th>Nombre</th>
      <th>Pais</th>
      <th>Provincia</th>
      <th>Localidad</th>
      <th>Direccion</th>
      <th>IVA</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for sujeto in sujetos %}
    <tr>
      <td>
        <a href="{{ sujeto.cuit }}"> {{ sujeto.cuit }}</a>
      </td>
      <td>{{ sujeto.name }}</td>
      <td>
        <a href="/pais/{{sujeto.location.provincia.pais.name}}"> {{ sujeto.location.provincia.pais.name }}</a>
      </td>
      <td>
        <a href="/pais/{{sujeto.location.provincia.pais.name}}/{{sujeto.location.provincia.name}}"> {{ sujeto.location.provincia.name }}</a>
      </td>
      <td>
        <a href="/pais/{{sujeto.location.provincia.pais.name}}/{{sujeto.location.provincia.name}}/{{sujeto.location.name}}"> {{ sujeto.location.name }}</a>
      </td>
      <td>{{ sujeto.address  }}</td>
      <td>{{ sujeto.iva.name }}</td>
      <td>
        <form method="get" action="{% url 'del_sujeto' sujeto.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Borrar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}    
